<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.elk.core.service.layoutProviders">
      <layoutAlgorithm
            category="org.eclipse.elk.category.elk"
            class="org.eclipse.elk.alg.layered.LayeredLayoutProvider"
            description="Layer-based algorithm provided by the Eclipse Layout Kernel. Arranges as many edges as possible into one direction by placing nodes into subsequent layers. This implementation supports different routing styles (straight, orthogonal, splines); if orthogonal routing is selected, arbitrary port constraints are respected, thus enabling the layout of block diagrams such as actor-oriented models or circuit schematics. Furthermore, full layout of compound graphs with cross-hierarchy edges is supported when the respective option is activated on the top level."
            id="org.eclipse.elk.alg.layered"
            name="ELK Layered"
            preview="images/layered.png"
            type="org.eclipse.elk.type.layered">
         <supportedFeature
               feature="SELF_LOOPS">
         </supportedFeature>
         <supportedFeature
               feature="INSIDE_SELF_LOOPS">
         </supportedFeature>
         <supportedFeature
               feature="MULTI_EDGES">
         </supportedFeature>
         <supportedFeature
               feature="EDGE_LABELS">
         </supportedFeature>
         <supportedFeature
               feature="PORTS">
         </supportedFeature>
         <supportedFeature
               feature="COMPOUND">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <knownOption
               default="20"
               option="org.eclipse.elk.spacing">
         </knownOption>
         <knownOption
               default="10"
               option="org.eclipse.elk.portSpacing">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.noLayout">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.edgeSpacingFactor">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.edgeNodeSpacingFactor">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.unnecessaryBendpoints">
         </knownOption>
         <knownOption
               default="12"
               option="org.eclipse.elk.borderSpacing">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.priority">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.nodeLayering">
         </knownOption>
         <knownOption
               default="ORTHOGONAL"
               option="org.eclipse.elk.edgeRouting">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.portConstraints">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.portSide">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.offset">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.debugMode">
         </knownOption>
         <knownOption
               default="1"
               option="org.eclipse.elk.randomSeed">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.thoroughness">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.layerConstraint">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.alignment">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layoutHierarchy">
         </knownOption>
         <knownOption
               default="true"
               option="org.eclipse.elk.separateConnComp">
         </knownOption>
         <knownOption
               default="1.6"
               option="org.eclipse.elk.aspectRatio">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.selfLoopInside">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.sizeConstraint">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.sizeOptions">
         </knownOption>
         <knownOption
               default="RIGHT"
               option="org.eclipse.elk.direction">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.nodeLabelPlacement">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.cycleBreaking">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.crossMin">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.greedySwitch">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.mergeEdges">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.mergeHierarchyEdges">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.interactiveReferencePoint">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.nodePlace">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.fixedAlignment">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.edgeLabelSideSelection">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.portLabelPlacement">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.feedBackEdges">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.inLayerSpacingFactor">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.wideNodesOnMultipleLayers">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.linearSegmentsDeflectionDampening">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.splines.selfLoopPlacement">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.contentAlignment">
         </knownOption>
         <knownOption
               default="JUSTIFIED"
               option="org.eclipse.elk.portAlignment">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.portAlignment.north">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.portAlignment.south">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.portAlignment.west">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.portAlignment.east">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.layered.nodeplace.compactionStrategy">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Whether wide nodes should be distributed to several layers."
            id="org.eclipse.elk.layered.distributeNodes"
            name="Distribute Nodes (Deprecated)"
            type="boolean">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.properties.WideNodesStrategy"
            default="OFF"
            description="Strategy to distribute wide nodes over multiple layers."
            id="org.eclipse.elk.layered.wideNodesOnMultipleLayers"
            name="Wide Nodes on Multiple Layers"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.p1cycles.CycleBreakingStrategy"
            default="GREEDY"
            description="Strategy for cycle breaking. Cycle breaking looks for cycles in the graph and determines which edges to reverse to break the cycles. Reversed edges will end up pointing to the opposite direction of regular edges (that is, reversed edges will point left if edges usually point right)."
            id="org.eclipse.elk.layered.cycleBreaking"
            name="Cycle Breaking"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.p2layers.LayeringStrategy"
            default="NETWORK_SIMPLEX"
            description="Strategy for node layering."
            id="org.eclipse.elk.layered.nodeLayering"
            name="Node Layering"
            type="enum">
      </layoutOption>
      <layoutOption
      		appliesTo="parents"
            class="org.eclipse.elk.alg.layered.p3order.CrossingMinimizationStrategy"
            default="LAYER_SWEEP"
            description="Strategy for crossing minimization."
            id="org.eclipse.elk.layered.crossMin"
            name="Crossing Minimization"
            type="enum">
      </layoutOption>
      <layoutOption
      		appliesTo="parents"
            class="org.eclipse.elk.alg.layered.properties.GreedySwitchType"
            default="TWO_SIDED"
            description="Greedy Switch strategy for crossing minimization."
            id="org.eclipse.elk.layered.greedySwitch"
            name="Greedy Switch Crossing Minimization"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="7"
            description="How much effort should be spent to produce a nice layout."
            id="org.eclipse.elk.layered.thoroughness"
            name="Thoroughness"
            type="int">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="nodes"
            class="org.eclipse.elk.alg.layered.properties.LayerConstraint"
            default="NONE"
            description="Determines a constraint on the placement of the node regarding the layering."
            id="org.eclipse.elk.layered.layerConstraint"
            name="Layer Constraint"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="0.5"
            description="Factor by which the object spacing is multiplied to arrive at the minimal spacing between edges."
            id="org.eclipse.elk.layered.edgeSpacingFactor"
            name="Edge Spacing Factor"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="0.5"
            description="Factor by which the object spacing is multiplied to arrive at the minimal spacing between an edge and a node."
            id="org.eclipse.elk.layered.edgeNodeSpacingFactor"
            name="Edge Node Spacing Factor"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Edges that have no ports are merged so they touch the connected nodes at the same points."
            id="org.eclipse.elk.layered.mergeEdges"
            name="Merge Edges"
            type="boolean">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Adds bend points even if an edge does not change direction."
            id="org.eclipse.elk.layered.unnecessaryBendpoints"
            name="Add Unnecessary Bendpoints"
            type="boolean">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="true"
            description="If hierarchical layout is active, hierarchy-crossing edges use as few hierarchical ports as possible."
            id="org.eclipse.elk.layered.mergeHierarchyEdges"
            name="Merge Hierarchy-crossing Edges"
            type="boolean">
         <dependency
               option="org.eclipse.elk.layoutHierarchy"
               value="true">
         </dependency>
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.properties.InteractiveReferencePoint"
            default="CENTER"
            description="Determines which point of a node is considered by interactive layout phases."
            id="org.eclipse.elk.layered.interactiveReferencePoint"
            name="Interactive Reference Point"
            type="enum">
         <dependency
               option="org.eclipse.elk.layered.cycleBreaking"
               value="INTERACTIVE">
         </dependency>
         <dependency
               option="org.eclipse.elk.layered.crossMin"
               value="INTERACTIVE">
         </dependency>
      </layoutOption>
      <layoutOption
            advanced="false"
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.p4nodes.NodePlacementStrategy"
            default="BRANDES_KOEPF"
            description="Strategy for Node Placement"
            id="org.eclipse.elk.layered.nodePlace"
            name="Node Placement"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.properties.FixedAlignment"
            default="NONE"
            description="Tells the BK node placer to use a certain alignment instead of taking the optimal result."
            id="org.eclipse.elk.layered.fixedAlignment"
            name="Fixed Alignment"
            type="enum">
         <dependency
               option="org.eclipse.elk.layered.nodePlace"
               value="BRANDES_KOEPF">
         </dependency>
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            id="org.eclipse.elk.layered.linearSegmentsDeflectionDampening"
            name="Linear Segments Deflection Dampening"
            description="Dampens the movement of nodes to keep the diagram from getting too large."
            default="0.3"
            type="float">
         <dependency
               option="org.eclipse.elk.layered.nodePlace"
               value="LINEAR_SEGMENTS">
         </dependency>
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.properties.EdgeLabelSideSelection"
            default="ALWAYS_DOWN"
            description="Method to decide on edge label sides."
            id="org.eclipse.elk.layered.edgeLabelSideSelection"
            name="Edge Label Side Selection"
            type="enum">
         <dependency
               option="org.eclipse.elk.edgeRouting"
               value="ORTHOGONAL">
         </dependency>
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Whether feedback edges should be highlighted by routing around the nodes."
            id="org.eclipse.elk.layered.feedBackEdges"
            name="Feedback Edges"
            type="boolean">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="1"
            description="Factor by which the usual spacing is multiplied to determine the in-layer spacing between objects."
            id="org.eclipse.elk.layered.inLayerSpacingFactor"
            name="In-layer Spacing Factor"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Whether long sausages should be folded up nice and tight."
            id="org.eclipse.elk.layered.sausageFolding"
            name="Sausage Folding"
            type="boolean">
         <dependency
               option="org.eclipse.elk.layered.nodeLayering"
               value="LONGEST_PATH">
         </dependency>
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.properties.SelfLoopPlacement"
            default="NORTH_STACKED"
            id="org.eclipse.elk.layered.splines.selfLoopPlacement"
            name="Spline Self-Loop Placement"
            type="enum">
         <dependency
               option="org.eclipse.elk.edgeRouting"
               value="SPLINES">
         </dependency>
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.properties.ContentAlignment"
            description="Specifies how the content of compound nodes is to be aligned, e.g. top-left."
            id="org.eclipse.elk.layered.contentAlignment"
            name="Content Alignment"
            type="enumset">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            class="org.eclipse.elk.alg.layered.p4nodes.bk.CompactionStrategy"
            description="Specifies the compaction strategy when using the Brandes and Koepf node placer."
            id="org.eclipse.elk.layered.nodeplace.compactionStrategy"
            name="Compaction Strategy"
            type="enum">
         <dependency
               option="org.eclipse.elk.layered.nodePlace"
               value="BRANDES_KOEPF">
         </dependency>
      </layoutOption>
   </extension>
</plugin>
