.DS_Store
*.class
bin/
.checkstyle
.svn/
target/
build/mvnrepo/
xtend-gen/
*.pdf
*_trace
*.sublime-workspace
/**/src-gen/**/*Options.java
/**/src-gen/**/*MetaDataProvider.java
docs/content/reference/algorithms/
docs/content/reference/options/
docs/content/reference/groups/
docs/static/img_gen/
docs/public
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
