.DS_Store
*.class
bin/
.checkstyle
.svn/
target/
xtend-gen/
*.pdf
*_trace
/**/src-gen/**/*Options.java
/**/src-gen/**/*MetaDataProvider.java
docs/content/reference/Algorithms/
docs/content/reference/Options/
docs/content/reference/Groups/
docs/static/img_gen/
docs/public

