.DS_Store
*.class
bin/
.checkstyle
.svn/
target/
xtend-gen/
*.pdf
*_trace
plugins/org.eclipse.elk.alg.force/src-gen/org/eclipse/elk/alg/force/properties/ForceMetaDataProvider.java
plugins/org.eclipse.elk.alg.force/src-gen/org/eclipse/elk/alg/force/properties/ForceOptions.java
plugins/org.eclipse.elk.alg.graphviz.layouter/src-gen/org/eclipse/elk/alg/graphviz/layouter/CircoOptions.java
plugins/org.eclipse.elk.alg.graphviz.layouter/src-gen/org/eclipse/elk/alg/graphviz/layouter/DotOptions.java
plugins/org.eclipse.elk.alg.graphviz.layouter/src-gen/org/eclipse/elk/alg/graphviz/layouter/FdpOptions.java
plugins/org.eclipse.elk.alg.graphviz.layouter/src-gen/org/eclipse/elk/alg/graphviz/layouter/GraphvizMetaDataProvider.java
plugins/org.eclipse.elk.alg.graphviz.layouter/src-gen/org/eclipse/elk/alg/graphviz/layouter/NeatoOptions.java
plugins/org.eclipse.elk.alg.graphviz.layouter/src-gen/org/eclipse/elk/alg/graphviz/layouter/TwopiOptions.java
plugins/org.eclipse.elk.alg.layered/src-gen/org/eclipse/elk/alg/layered/properties/LayeredMetaDataProvider.java
plugins/org.eclipse.elk.alg.layered/src-gen/org/eclipse/elk/alg/layered/properties/LayeredOptions.java
plugins/org.eclipse.elk.alg.mrtree/src-gen/org/eclipse/elk/alg/mrtree/properties/MrTreeMetaDataProvider.java
plugins/org.eclipse.elk.alg.mrtree/src-gen/org/eclipse/elk/alg/mrtree/properties/MrTreeOptions.java
plugins/org.eclipse.elk.conn.gmf/src-gen/org/eclipse/elk/conn/gmf/layouter/Draw2DOptions.java
plugins/org.eclipse.elk.conn.gmf/src-gen/org/eclipse/elk/conn/gmf/layouter/GmfMetaDataProvider.java
plugins/org.eclipse.elk.core/src-gen/org/eclipse/elk/core/labels/LabelManagementOptions.java
plugins/org.eclipse.elk.core/src-gen/org/eclipse/elk/core/options/BoxLayouterOptions.java
plugins/org.eclipse.elk.core/src-gen/org/eclipse/elk/core/options/CoreOptions.java
plugins/org.eclipse.elk.core/src-gen/org/eclipse/elk/core/options/FixedLayouterOptions.java
plugins/org.eclipse.elk.core/src-gen/org/eclipse/elk/core/options/RandomLayouterOptions.java
