<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2016 Kiel University and others.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  SPDX-License-Identifier: EPL-2.0
-->
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated elkgraph -->
      <package
            uri="http://www.eclipse.org/elk/ElkGraph"
            class="org.eclipse.elk.graph.ElkGraphPackage"
            genModel="model/elkgraph.genmodel"/>
   </extension>

</plugin>
