<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.elk.core.service.layoutConnectors">
    <setup
          class="org.eclipse.elk.conn.gmf.GmfLayoutSetup">
    </setup>
 </extension>
  <extension
       point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
    <editpolicyProvider
          class="org.eclipse.elk.conn.gmf.LayoutEditPolicyProvider">
       <Priority
             name="Lowest">
       </Priority>
    </editpolicyProvider>
 </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.elk.core.layout"
           defaultHandler="org.eclipse.elk.conn.gmf.LayoutDiagramFileHandler"
           id="org.eclipse.elk.conn.gmf.layoutDiagramFile"
           name="Layout Diagram File">
     </command>
  </extension>
 <extension
       point="org.eclipse.elk.core.layoutProviders">
    <provider
          class="org.eclipse.elk.conn.gmf.layouter.Metadata">
    </provider>
    
 </extension>
 <extension
       point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
    <layoutProvider
          class="org.eclipse.elk.conn.gmf.ElkLayoutProvider">
       <Priority
             name="Highest">
       </Priority>
    </layoutProvider>
 </extension>

</plugin>
