<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="layoutConnectors" name="Layout Connectors" schema="schema/layoutConnectors.exsd"/>
  <extension-point id="layoutProviders" name="Layout Providers" schema="schema/layoutProviders.exsd"/>
 
   <extension
         point="org.eclipse.elk.core.service.layoutProviders">
      <category
            id="org.eclipse.elk.category.elk"
            name="Eclipse Layout Kernel">
      </category>
      <layoutAlgorithm
            category="org.eclipse.elk.category.elk"
            class="org.eclipse.elk.core.util.FixedLayoutProvider"
            description="Keeps the current layout as it is, without any automatic modification. Optional coordinates can be given for nodes and edge bend points."
            id="org.eclipse.elk.algorithm.fixed"
            name="Fixed Layout">
         <knownOption
               option="org.eclipse.elk.position">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.bendPoints">
         </knownOption>
         <knownOption
               default="15"
               option="org.eclipse.elk.borderSpacing">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            category="org.eclipse.elk.category.elk"
            class="org.eclipse.elk.core.util.BoxLayoutProvider"
            description="Algorithm for packing of unconnected boxes, i.e. graphs without edges."
            id="org.eclipse.elk.algorithm.box"
            name="Box Layout"
            preview="images/box_layout.png">
         <knownOption
               default="15"
               option="org.eclipse.elk.spacing">
         </knownOption>
         <knownOption
               default="15"
               option="org.eclipse.elk.borderSpacing">
         </knownOption>
         <knownOption
               default="0"
               option="org.eclipse.elk.priority">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.expandNodes">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.sizeConstraint">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.sizeOptions">
         </knownOption>
         <knownOption
               default="1.3"
               option="org.eclipse.elk.aspectRatio">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.interactive">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            category="org.eclipse.elk.category.elk"
            class="org.eclipse.elk.core.util.RandomLayoutProvider"
            description="Distributes the nodes randomly on the plane, leading to very obfuscating layouts. Can be useful to demonstrate the power of &quot;real&quot; layout algorithms."
            id="org.eclipse.elk.algorithm.random"
            name="Randomizer"
            preview="images/random.png">
         <knownOption
               default="0"
               option="org.eclipse.elk.randomSeed">
         </knownOption>
         <knownOption
               default="15"
               option="org.eclipse.elk.spacing">
         </knownOption>
         <knownOption
               default="15"
               option="org.eclipse.elk.borderSpacing">
         </knownOption>
         <knownOption
               default="1.6"
               option="org.eclipse.elk.aspectRatio">
         </knownOption>
      </layoutAlgorithm>
      <layoutType
            description="The layer-based method was introduced by Sugiyama, Tagawa and Toda in 1981. It emphasizes the direction of edges by pointing as many edges as possible into the same direction. The nodes are arranged in layers, which are sometimes called &quot;hierarchies&quot;, and then reordered such that the number of edge crossings is minimized. Afterwards, concrete coordinates are computed for the nodes and edge bend points."
            id="org.eclipse.elk.type.layered"
            name="Layered">
      </layoutType>
      <layoutType
            description="Orthogonal methods that follow the &quot;topology-shape-metrics&quot; approach by Batini, Nardelli and Tamassia '86. The first phase determines the topology of the drawing by applying a planarization technique, which results in a planar representation of the graph. The orthogonal shape is computed in the second phase, which aims at minimizing the number of edge bends, and is called orthogonalization. The third phase leads to concrete coordinates for nodes and edge bend points by applying a compaction method, thus defining the metrics."
            id="org.eclipse.elk.type.orthogonal"
            name="Orthogonal">
      </layoutType>
      <layoutType
            description="Layout algorithms that follow physical analogies by simulating a system of attractive and repulsive forces. The first successful method of this kind was proposed by Eades in 1984."
            id="org.eclipse.elk.type.force"
            name="Force">
      </layoutType>
      <layoutType
            description="Circular layout algorithms emphasize cycles or biconnected components of a graph by arranging them in circles. This is useful if a drawing is desired where such components are clearly grouped, or where cycles are shown as prominent properties of the graph."
            id="org.eclipse.elk.type.circle"
            name="Circular">
      </layoutType>
      <layoutType
            description="Specialized layout methods for trees, i.e. acyclic graphs. The regular structure of graphs that have no undirected cycles can be emphasized using an algorithm of this type."
            id="org.eclipse.elk.type.tree"
            name="Tree">
      </layoutType>
      <layoutOption
            appliesTo="nodes"
            class="org.eclipse.elk.core.options.Alignment"
            default="AUTOMATIC"
            description="Alignment of the selected node relative to other nodes in the same row or column."
            id="org.eclipse.elk.alignment"
            name="Alignment"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="0.0"
            description="The aimed aspect ratio of the drawing, that is the quotient of width by height"
            id="org.eclipse.elk.aspectRatio"
            name="Aspect Ratio"
            type="float">
      </layoutOption>
      <layoutOption
            appliesTo="edges"
            class="org.eclipse.elk.core.math.KVectorChain"
            description="The fixed list of bend points for the edge"
            id="org.eclipse.elk.bendPoints"
            name="Bend Points"
            type="object">
      </layoutOption>
      <layoutOption
            appliesTo="edges"
            class="org.eclipse.elk.core.math.KVectorChain"
            description="The fixed list of junction points for the edge"
            id="org.eclipse.elk.junctionPoints"
            name="Junction Points"
            type="object">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="-1.0"
            description="Minimal amount of space to be left to the border"
            id="org.eclipse.elk.borderSpacing"
            name="Border Spacing"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Whether additional debug information shall be displayed"
            id="org.eclipse.elk.debugMode"
            name="Debug Mode"
            type="boolean">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="ports"
            class="org.eclipse.elk.core.math.KVector"
            description="The offset to the port position where connections shall be attached (programmatically set)."
            id="org.eclipse.elk.portAnchor"
            name="Port Anchor Offset"
            type="object">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.core.options.Direction"
            default="UNDEFINED"
            description="Overall direction of edges: horizontal (right / left) or vertical (down / up)"
            id="org.eclipse.elk.direction"
            name="Direction"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.core.options.EdgeRouting"
            default="UNDEFINED"
            description="Defines how edges are routed"
            id="org.eclipse.elk.edgeRouting"
            name="Edge Routing"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            description="If active, nodes are expanded to fill the area of their parent"
            id="org.eclipse.elk.expandNodes"
            name="Expand Nodes"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            description="Optimize the layout for user interaction by considering previous layout"
            id="org.eclipse.elk.interactive"
            name="Interactive"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="edges,nodes"
            default="-1.0"
            description="Spacing between labels and other objects."
            id="org.eclipse.elk.labelSpacing"
            name="Label Spacing"
            type="float">
      </layoutOption>
      <layoutOption
            appliesTo="nodes"
            default="-1.0"
            description="Spacing between ports of a given node."
            id="org.eclipse.elk.portSpacing"
            name="Port Spacing"
            type="float">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            description="Whether the selected layouter should consider the full hierarchy"
            id="org.eclipse.elk.layoutHierarchy"
            name="Layout Hierarchy"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            description="Select either a specific layout algorithm or a layout type"
            id="org.eclipse.elk.algorithm"
            name="Layout Algorithm"
            type="string">
      </layoutOption>
      <layoutOption
            appliesTo="nodes"
            class="org.eclipse.elk.core.options.PortConstraints"
            default="UNDEFINED"
            description="Defines constraints of the position of the ports of a node"
            id="org.eclipse.elk.portConstraints"
            name="Port Constraints"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="nodes,ports,labels"
            class="org.eclipse.elk.core.math.KVector"
            description="The fixed position of the element"
            id="org.eclipse.elk.position"
            name="Position"
            type="object">
      </layoutOption>
      <layoutOption
            appliesTo="nodes,edges"
            description="Defines the priority of an object; its meaning depends on the specific layout algorithm"
            id="org.eclipse.elk.priority"
            name="Priority"
            type="int">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            description="Seed used for pseudo-random number generators to control the layout algorithm; 0 means a new seed is generated"
            id="org.eclipse.elk.randomSeed"
            name="Randomization Seed"
            type="int">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            description="Whether each connected component should be processed separately"
            id="org.eclipse.elk.separateConnComp"
            name="Separate Connected Components"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="nodes"
            class="org.eclipse.elk.core.options.SizeConstraint"
            default=""
            description="What is taken into account when resizing nodes; no selection means that node sizes are fixed."
            id="org.eclipse.elk.sizeConstraint"
            name="Size Constraint"
            type="enumset">
      </layoutOption>
      <layoutOption
            appliesTo="nodes"
            class="org.eclipse.elk.core.options.SizeOptions"
            default="DEFAULT_MINIMUM_SIZE APPLY_ADDTIONAL_INSETS"
            description="Options modifying how the size constraints set on a node are interpreted."
            id="org.eclipse.elk.sizeOptions"
            name="Size Options"
            type="enumset">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="-1.0"
            description="Overall setting for the minimal amount of space to be left between objects"
            id="org.eclipse.elk.spacing"
            name="Spacing"
            type="float">
      </layoutOption>
     <layoutOption
           appliesTo="nodes"
           class="org.eclipse.elk.core.options.PortAlignment"
           default="JUSTIFIED"
           description="Defines the default port distribution for a node."
           id="org.eclipse.elk.portAlignment"
           name="Port Alignment"
           type="enum">
     </layoutOption>
     <layoutOption
           appliesTo="nodes"
           advanced="true"
           class="org.eclipse.elk.core.options.PortAlignment"
           default="UNDEFINED"
           description="Defines how ports on the northern side are placed, overriding the node's general port alignment."
           id="org.eclipse.elk.portAlignment.north"
           name="Port Alignment (North)"
           type="enum">
     </layoutOption>
     <layoutOption
           appliesTo="nodes"
           advanced="true"
           class="org.eclipse.elk.core.options.PortAlignment"
           default="UNDEFINED"
           description="Defines how ports on the southern side are placed, overriding the node's general port alignment."
           id="org.eclipse.elk.portAlignment.south"
           name="Port Alignment (South)"
           type="enum">
     </layoutOption>
     <layoutOption
           appliesTo="nodes"
           advanced="true"
           class="org.eclipse.elk.core.options.PortAlignment"
           default="UNDEFINED"
           description="Defines how ports on the western side are placed, overriding the node's general port alignment."
           id="org.eclipse.elk.portAlignment.west"
           name="Port Alignment of (West)"
           type="enum">
     </layoutOption>
     <layoutOption
           appliesTo="nodes"
           advanced="true"
           class="org.eclipse.elk.core.options.PortAlignment"
           default="UNDEFINED"
           description="Defines how ports on the eastern side are placed, overriding the node's general port alignment."
           id="org.eclipse.elk.portAlignment.east"
           name="Port Alignment (Eastern)"
           type="enum">
     </layoutOption>
   
   <!-- Programmatic Layout Options -->
     <layoutOption
           appliesTo="parents,labels"
           class="org.eclipse.elk.core.labels.ILabelManager"
           description="Label managers can shorten labels upon a layout algorithm's request"
           id="org.eclipse.elk.labels.labelManager"
           name="Label Manager"
           type="object">
     </layoutOption>
     <layoutOption
           appliesTo="parents"
           advanced="true"
           default="true"
           description="Whether the shift from the old layout to the new computed layout shall be animated"
           id="org.eclipse.elk.animate"
           name="Animate"
           type="boolean">
     </layoutOption>
     <layoutOption
           appliesTo="parents"
           advanced="true"
           default="400"
           description="The minimal time for animations, in milliseconds"
           id="org.eclipse.elk.minAnimTime"
           name="Minimal Animation Time"
           type="int">
     </layoutOption>
     <layoutOption
           appliesTo="parents"
           advanced="true"
           default="4000"
           description="The maximal time for animations, in milliseconds"
           id="org.eclipse.elk.maxAnimTime"
           name="Maximal Animation Time"
           type="int">
     </layoutOption>
     <layoutOption
           appliesTo="parents"
           advanced="true"
           default="100"
           description="Factor for calculation of animation time"
           id="org.eclipse.elk.animTimeFactor"
           name="Animation Time Factor"
           type="int">
     </layoutOption>
     <layoutOption
           appliesTo="nodes"
           advanced="true"
           description="Additional space around the sets of nodes on each node side."
           id="org.eclipse.elk.additionalPortSpace"
           name="Additional Port Space"
           type="object"
           class="org.eclipse.elk.core.util.nodespacing.Spacing$Margins">
     </layoutOption>
     <layoutOption
           appliesTo="nodes"
           advanced="true"
           default="false"
           description="Whether the node should be regarded as a comment box instead of a regular node"
           id="org.eclipse.elk.commentBox"
           name="Comment Box"
           type="boolean">
     </layoutOption>
     <layoutOption
           appliesTo="parents"
           advanced="true"
           description="Identifier of a diagram type that is associated with the children of the respective node"
           id="org.eclipse.elk.diagramType"
           name="Diagram Type"
           type="string">
     </layoutOption>
     <layoutOption
           appliesTo="labels"
           advanced="true"
           class="org.eclipse.elk.core.options.EdgeLabelPlacement"
           default="UNDEFINED"
           description="Gives a hint on where to put edge labels."
           id="org.eclipse.elk.edgeLabelPlacement"
           name="Edge Label Placement"
           type="enum">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="nodes,labels"
           class="org.eclipse.elk.core.options.NodeLabelPlacement"
           description="Hints for where node labels are to be placed; if empty, the node label&apos;s position is not modified."
           id="org.eclipse.elk.nodeLabelPlacement"
           name="Node Label Placement"
           type="enumset">
     </layoutOption>
     <layoutOption
           appliesTo="nodes"
           class="org.eclipse.elk.core.options.PortLabelPlacement"
           default="OUTSIDE"
           description="Decides on a placement method for port labels."
           id="org.eclipse.elk.portLabelPlacement"
           name="Port Label Placement"
           type="enum">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="edges"
           class="org.eclipse.elk.core.options.EdgeType"
           default="NONE"
           description="The type of the edge."
           id="org.eclipse.elk.edgeType"
           name="Edge Type"
           type="enum">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="labels"
           description="Font name used for a label"
           id="org.eclipse.elk.fontName"
           name="Font Name"
           type="string">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="labels"
           description="Font size used for a label"
           id="org.eclipse.elk.fontSize"
           name="Font Size"
           type="int">
     </layoutOption>
     <layoutOption
           advanced="true"
           default="false"
           appliesTo="nodes"
           description="Whether the node should be handled as a hypernode"
           id="org.eclipse.elk.hypernode"
           name="Hypernode"
           type="boolean">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="parents"
           default="false"
           description="Whether the hierarchy levels on the path from the selected element to the root of the diagram shall be included in the layout process"
           id="org.eclipse.elk.layoutAncestors"
           name="Layout Ancestors"
           type="boolean">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="nodes"
           class="org.eclipse.elk.core.util.nodespacing.Spacing$Margins"
           default="[top=0,left=0,bottom=0,right=0]"
           description="Margins define additional space around the actual bounds of a graph element. For instance, ports or labels being placed on the outside of a node's border might introduce such a margin."
           id="org.eclipse.elk.margins"
           name="Margins"
           type="object">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="nodes"
           default="0"
           description="The minimal height to which a node can be reduced"
           id="org.eclipse.elk.minHeight"
           name="Minimal Height"
           type="float">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="nodes"
           default="0"
           description="The minimal width to which a node can be reduced"
           id="org.eclipse.elk.minWidth"
           name="Minimal Width"
           type="float">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="nodes,edges,ports,labels"
           default="false"
           description="Indicates that no layout should be done for the diagram part"
           id="org.eclipse.elk.noLayout"
           name="No Layout"
           type="boolean">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="ports"
           description="The offset of ports on the node border"
           id="org.eclipse.elk.offset"
           name="Port Offset"
           type="float">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="ports"
           class="org.eclipse.elk.core.options.PortSide"
           default="UNDEFINED"
           description="The side of a node on which a port is situated"
           id="org.eclipse.elk.portSide"
           name="Port Side"
           type="enum">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="ports"
           description="The index of a port in the clockwise fixed order around a node"
           id="org.eclipse.elk.portIndex"
           name="Port Index"
           type="int">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="parents"
           default="false"
           description="Whether a progress bar shall be displayed during layout computations"
           id="org.eclipse.elk.progressBar"
           name="Progress Bar"
           type="boolean">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="nodes"
           default="1"
           description="The scaling factor to be applied to the corresponding node in recursive layout."
           id="org.eclipse.elk.scaleFactor"
           name="Scale Factor"
           type="float">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="nodes,edges"
           default="false"
           description="Whether a self-loop is routed around or inside its node."
           id="org.eclipse.elk.selfLoopInside"
           name="Route Self Loop Inside"
           type="boolean">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="edges"
           default="1"
           description="The thickness of an edge."
           id="org.eclipse.elk.thickness"
           name="Thickness"
           type="float">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="parents"
           default="false"
           description="Whether the zoom level shall be set to view the whole diagram after layout"
           id="org.eclipse.elk.zoomToFit"
           name="Zoom to Fit"
           type="boolean">
     </layoutOption>
     <layoutOption
           advanced="true"
           appliesTo="parents,nodes,edges,ports,labels"
           default="true"
           description="Whether to reset layout options prior to a layout run."
           id="org.eclipse.elk.resetConfig"
           name="Reset Config"
           type="boolean">
     </layoutOption>
   </extension>

</plugin>
