body {
	margin: 0;
	background: #fff;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $font-color;
	font-family: $heading-font;
}
h1 {
	color: $h1-font-color;
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
a {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
span.inactive {
    color: red;
    a {
        color: red;
    }
}
header {
	background: $header-bg-color;
	padding: 0px 10px;
	text-align: center;
	flex: 100%;
	justify-content: center;
	align-items: center;
	h1 {
	    color: $header-font-color;
	    margin: 7px;
	    @media screen and (max-width: 900px) {
	        font-size: 1em;
	    }
	    a, a:visited {
		    text-decoration: none;
		    color: $header-font-color;
	    }
	}
}
blockquote {
    border-left: 5px solid #ccc;
    margin: 0.2em 0;
    padding: 0 20px;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
li.box {
    list-style-type: none;
}
li.box_done {
    list-style-type: none;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid lightgrey;
}
th, td {
    padding: 5px 10px;
}
aside {
    margin: 5px 0px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        ul {
            font-weight: normal;
        }
    }
    li a {
        display: block;
        color: $link-color;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a.active {
        background: $header-bg-color;
		text-decoration: none;
		color: $link-active-color;
    }
}
aside.wiki-aside {
    ul {
        font-weight: bold;
        ul {
            font-weight: normal;
        }
    }
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-main {
    width: $content-width;
    @media screen and (max-width: 1201px) {
        width: 100%;
    }
}
.flex-nav {
    width: 300px;
    #menu-toggle {
        display: none;
    }
    .label-toggle {
        display: none;
    }
    @media screen and (max-width: 1201px) {
        ul {
            height: 0;
            opacity: 0;
            transition: all 1s ease;
            visibility: hidden;
        }
      
        #menu-toggle:checked ~ ul {
            opacity: 1;
            height: auto;
            visibility: visible;
            ul {
                opacity: 1;
                height: auto;
                visibility: visible;
            }
        }
        
        .label-toggle {
            background: linear-gradient(to bottom, $main 0%, $main 20%, transparent 20%, transparent 40%, $main 40%, $main 60%, transparent 60%, transparent 80%, $main 80%, $main 100%); //Gradient Hamburger
            cursor: pointer;
            display: block;
            height: 30px;
            margin: 1em;
            margin-top: -30px;
            width: 30px;
        }
    }
}
.flex-top-nav {
    flex: 100%;

    a:hover {
	    color: $link-hover-color;
	    text-decoration: underline;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    li {
        float: right;
    }
    li a {
        display: block;
        color: $link-color;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a.active {
        background: $header-bg-color;
		text-decoration: none;
		color: $link-active-color;
    }
}
