<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2016 Kiel University and others.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  SPDX-License-Identifier: EPL-2.0
-->
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="elkg"
            class="org.eclipse.elk.core.util.persistence.ElkGraphResourceFactory"/>
   </extension>

</plugin>
