<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.elk.core.layoutProviders">
      <layoutAlgorithm
            category="org.eclipse.elk.category.elk"
            class="org.eclipse.elk.force.ForceLayoutProvider"
            description="Force-based algorithm provided by the Eclipse Layout Kernel. Implements methods that follow physical analogies by simulating forces that move the nodes into a balanced distribution. Currently the original Eades model and the Fruchterman - Reingold model are supported."
            id="org.eclipse.elk.algorithm.force"
            name="ELK Force"
            preview="images/force.png"
            type="org.eclipse.elk.type.force">
         <supportedDiagram
               priority="8"
               type="org.eclipse.elk.diagram.general">
         </supportedDiagram>
         <supportedFeature
               feature="MULTI_EDGES"
               priority="-2">
         </supportedFeature>
         <supportedFeature
               feature="EDGE_LABELS"
               priority="-4">
         </supportedFeature>
         <knownOption
               default="1"
               option="org.eclipse.elk.priority">
         </knownOption>
         <knownOption
               default="80.0"
               option="org.eclipse.elk.spacing">
         </knownOption>
         <knownOption
               default="5.0"
               option="org.eclipse.elk.labelSpacing">
         </knownOption>
         <knownOption
               default="1"
               option="org.eclipse.elk.randomSeed">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.interactive">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.force.model">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.force.temperature">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.force.iterations">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.force.repulsion">
         </knownOption>
         <knownOption
               option="org.eclipse.elk.force.repulsivePower">
         </knownOption>
         <knownOption
               default="true"
               option="org.eclipse.elk.separateConnComp">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="parents"
            class="org.eclipse.elk.force.model.ForceModelStrategy"
            default="FRUCHTERMAN_REINGOLD"
            description="Determines the model for force calculation."
            id="org.eclipse.elk.force.model"
            name="Force Model"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="100"
            description="The number of iterations on the force model."
            id="org.eclipse.elk.force.iterations"
            lowerBound="1"
            name="Iterations"
            type="int"
            upperBound="10000"
            variance="100.0">
      </layoutOption>
      <layoutOption
            appliesTo="edges"
            default="0"
            description="Determines how many bend points are added to the edge; such bend points are regarded as repelling particles in the force model"
            id="org.eclipse.elk.force.repulsivePower"
            lowerBound="0"
            name="Repulsive Power"
            type="int"
            upperBound="100"
            variance="2.0">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="0.001"
            description="The temperature is used as a scaling factor for particle displacements."
            id="org.eclipse.elk.force.temperature"
            lowerBound="0.00001"
            name="FR Temperature"
            type="float"
            upperBound="100.0"
            variance="0.1">
         <dependency
               option="org.eclipse.elk.force.model"
               value="FRUCHTERMAN_REINGOLD">
         </dependency>
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="5.0"
            description="Factor for repulsive forces in Eades' model."
            id="org.eclipse.elk.force.repulsion"
            lowerBound="0.01"
            name="Eades Repulsion"
            type="float"
            upperBound="100.0"
            variance="2.0">
         <dependency
               option="org.eclipse.elk.force.model"
               value="EADES">
         </dependency>
      </layoutOption>
   </extension>

</plugin>
