<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.elk.core.service.layoutManagers">
    <manager
          class="org.eclipse.elk.core.gmf.GmfDiagramLayoutManager">
    </manager>
 </extension>
 <extension
       point="org.eclipse.elk.core.layoutConfigs">
      <staticConfig
            class="org.eclipse.emf.ecoretools.diagram.edit.parts.EClassESuperTypesEditPart"
            option="org.eclipse.elk.edgeType"
            value="GENERALIZATION">
      </staticConfig>
      <staticConfig
            class="org.eclipse.gmf.ecore.edit.parts.EClassESuperTypesEditPart"
            option="org.eclipse.elk.edgeType"
            value="GENERALIZATION">
      </staticConfig>
      <staticConfig
            class="org.eclipse.gmf.runtime.diagram.ui.editparts.NoteEditPart"
            option="org.eclipse.elk.commentBox"
            value="true">
      </staticConfig>
 </extension>
  <extension
       point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
    <editpolicyProvider
          class="org.eclipse.elk.core.gmf.LayoutEditPolicyProvider">
       <Priority
             name="Lowest">
       </Priority>
    </editpolicyProvider>
 </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.elk.core.layout"
           defaultHandler="org.eclipse.elk.core.gmf.LayoutDiagramFileHandler"
           id="org.eclipse.elk.core.gmf.layoutDiagramFile"
           name="Layout Diagram File">
     </command>
  </extension>
 <extension
       point="org.eclipse.elk.core.layoutProviders">
    <layoutAlgorithm
          class="org.eclipse.elk.core.gmf.layouter.Draw2DLayoutProvider"
          description="&quot;Directed Graph Layout&quot; provided by the Draw2D framework. This is the same algorithm that is used by the standard layout button of GMF diagrams."
          id="org.eclipse.elk.draw2d"
          name="Draw2D Layout"
          preview="images/draw2d.png"
          type="org.eclipse.elk.type.layered">
       <supportedDiagram
             priority="1"
             type="org.eclipse.elk.diagram.general">
       </supportedDiagram>
       <supportedFeature
             feature="MULTI_EDGES">
       </supportedFeature>
       <knownOption
             default="16"
             option="org.eclipse.elk.spacing">
       </knownOption>
       <knownOption
             default="16"
             option="org.eclipse.elk.borderSpacing">
       </knownOption>
       <knownOption
             default="RIGHT"
             option="org.eclipse.elk.direction">
       </knownOption>
       <knownOption
             option="org.eclipse.elk.sizeConstraint">
       </knownOption>
    </layoutAlgorithm>
 </extension>
 <extension
       point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
    <layoutProvider
          class="org.eclipse.elk.core.gmf.ElkLayoutProvider">
       <Priority
             name="Highest">
       </Priority>
    </layoutProvider>
 </extension>

</plugin>
